/*
Theme Name: Tema WS 
Theme URI: http://
Description : Tema WS
Author: Gabriel L Vidal
Author URI: 
Version: 1.0
*/
@font-face {
  font-family: 'gt_medium';
  src: url("fonts/gt_america_extended_medium-webfont.woff2") format("woff2"), url("fonts/gt_america_extended_medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'gt_regular';
  src: url("fonts/gt_america_extended_regular-webfont.woff2") format("woff2"), url("assets/font/gt_america_extended_regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'gtc_bold';
  src: url("fonts/gt_america_compressed_bold-webfont.woff2") format("woff2"), url("fonts/gt_america_compressed_bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
.button, .button:hover {
  transition: none; }

a, a:focus, a:hover {
  outline: none;
  text-decoration: none !important; }

h1, h2, h3, h4, h5, body {
  font-family: 'gt_regular'; }

.button, .button:hover {
  transition: none; }

a, a:focus, a:hover {
  outline: none; }

h1, h2, h3, h4, h5, body {
  font-family: 'gt_regular'; }

body {
  color: #1a1a1a;
  background: url("img/bg.jpg") no-repeat;
  background-position: 0 -260px; }

header {
  padding: 50px 0 70px; }

main {
  padding: 50px 0; }

.title-box h1 {
  text-transform: uppercase;
  margin-bottom: 0;
  font-size: 45px;
  line-height: 45px;
  font-family: 'gtc_bold'; }

.filter {
  background: #1A1A1A;
  padding: 0px 50px;
  border-radius: 10px;
  display: flex;
  margin: 70px 0;
  align-items: center;
  color: #7E7E7E; }

.filter i {
  font-size: 20px; }

.filter__link {
  flex: 1;
  display: flex; }

.filter__link a {
  flex: 1;
  color: #7E7E7E;
  padding: 16px 0;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px; }

.filter__link a:hover,
.filter__link a:focus {
  color: #ffffff; }

.filter__link a.active {
  color: #F4934D;
  font-family: 'gt_medium';
  font-weight: bold; }

.files__thumb {
  background: #ffffff;
  border-radius: 10px;
  padding: 0px;
  margin: 15px 0;
  height: auto;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  border: 2px solid transparent; }

.files__thumb .fix-thumb {
  max-height: 100%;
  width: 100%; }

.cell {
  width: 25%;
  display: inline-block; }

.files__item:hover .files__thumb {
  border-color: #F4934D; }

.files__thumb__view {
  position: relative;
  z-index: 1;
  display: table;
  margin: 0 auto; }

.black-white {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
  -webkit-filter: grayscale(1);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  object-fit: cover;
  height: 100%;
  z-index: 0;
  opacity: 0.1; }

.files__category {
  display: block;
  text-transform: uppercase;
  font-size: 12px;
  margin-bottom: 2px;
  letter-spacing: 1px;
  font-family: 'gt_medium';
  font-weight: bold;
  text-decoration: none; }

.files__category a {
  color: #1a1a1a !important; }

.files__title {
  margin-bottom: 0;
  font-size: 14px;
  text-transform: uppercase;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; }

.files__download {
  display: block;
  text-align: center;
  align-items: center;
  font-size: 14px; }

.files__lang {
  flex: 1;
  text-align: center;
  display: flex;
  justify-content: center;
  grid-gap: 7px; }

.span-down {
  display: block;
  margin-bottom: 9px; }

.files__lang a {
  border-radius: 8px;
  display: inline-block;
  padding: 7px 15px;
  background-color: #ffffff;
  color: #F37A21;
  border: 1px solid #F37A21;
  font-family: 'gt_medium';
  font-size: 11px;
  text-transform: uppercase;
  flex: 1; }

.files__lang a:hover {
  background-color: #F37A21;
  color: #ffffff;
  border-color: #F37A21; }

.files__lang a.inactive:hover,
.files__lang a.inactive {
  border-color: #cccccc;
  color: #cccccc;
  cursor: not-allowed;
  background-color: #ffffff; }

.section {
  margin-bottom: 50px; }

.files__item {
  margin-bottom: 60px; }

footer {
  background-color: #1a1a1a;
  padding: 70px 0; }

.social {
  margin-top: 50px;
  display: inline-flex;
  align-content: center;
  justify-content: center; }

.social a {
  color: #ffffff;
  padding: 0 15px;
  font-size: 18px;
  display: inline-block; }

.social a:hover,
.social a:focus {
  color: #F4934D; }

.fetch a.button {
  margin-bottom: 0;
  text-transform: uppercase;
  border-radius: 8px;
  background: #F37A21;
  padding: 14px 35px 13px;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 14px;
  color: #FFF; }

.fetch a.button:hover,
.fetch a.button:focus {
  background-color: #D6620C;
  color: #ffffff; }

.fetch a {
  margin-top: 10px;
  margin-bottom: 20px; }

#go {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #F37A21;
  color: white;
  cursor: pointer;
  padding: 23px 14px 11px;
  font-size: 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-weight: bold; }

#go:hover {
  background-color: #D6620C; }

#go i {
  display: block;
  font-size: 26px;
  line-height: 0;
  padding-top: 3px; }

.misha_loadmore {
  background-color: #ddd;
  border-radius: 2px;
  display: block;
  text-align: center;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 800;
  letter-spacing: 1px;
  cursor: pointer;
  text-transform: uppercase;
  padding: 10px 0;
  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.3s ease-in-out; }

.misha_loadmore:hover {
  background-color: #767676;
  color: #fff; }

@media print, screen and (min-width: 40em) {
  .hide-for-medium {
    display: none !important; } }
@media (max-width: 1024px) {
  .files__thumb {
    height: auto; }

  .files__thumb img {
    max-width: 80%;
    display: table;
    margin: 0 auto; }

  .files__thumb img.black-white {
    max-width: 100% !important;
    max-height: 100% !important; } }
@media (max-width: 639px) {
  .files__download {
    display: block; }

  .files__download span.span-down {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 15px; }

  .files__lang {
    display: block; }

  .files__lang a {
    display: block;
    text-align: center; }

  .files__thumb {
    padding: 0px;
    height: auto; }

  .files__thumb img {
    max-width: 100%; }

  .files__thumb__view {
    display: block;
    margin: 0 auto;
    width: 100%; }

  .section,
  .headline {
    padding: 0 45px; }

  .filter__link {
    display: none; }

  .filter {
    margin: 30px 0 50px;
    display: block;
    padding: 0; }

  header {
    padding: 30px 0 45px; }

  header img, footer img {
    width: 144px; }

  .filter__icon {
    padding: 13px 0; }

  .headline h1 {
    font-size: 30px;
    line-height: 30px; }

  .filter__link.active {
    display: grid; }

  footer {
    padding: 50px 0; }

  .social {
    margin-top: 35px; }

  .filter__icon span {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px; }

  .filter i {
    vertical-align: -1px; }

  .filter__link.active {
    padding-bottom: 8px; }

  .files__lang a {
    padding: 11px 30px;
    font-size: 14px; }

  .files__lang a:first-child {
    margin-bottom: 11px; }

  .section {
    margin-bottom: 40px; }

  .fetch a.button {
    margin-top: 0;
    margin-bottom: 20px; } }

/*# sourceMappingURL=style.css.map */
